Projects/*
#Story files that can be compiled by the user (only raw files needed).
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/meta.lsx
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/log.txt
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/goals.div
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/goals.raw
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/story.div
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/story.div.osi
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/story_ac.dat
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/RawFiles/story_definitions.div
Mods/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Story/RawFiles/story_header.div

#Assets
Public/DebugTools_ce3b3bd2-eb86-46d4-8d4f-9a472105d18e/Assets/*

#Binary Files
*.bik
*.bnk
*.bshd
*.bullet
*.cur
*.dat
*.data
*.dds
*.fnt
*.gr2
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.osi
*.patch
*.png
*.swf
*.tga
*.tmpl
*.ttf